.dp-highlighter{
	font-size: 75%;
/*	margin-left: 5% !important;*/
/*	width:85%;*/
	overflow: hidden;
}

.dp-highlighter ol{
	margin: 0px 0px 1px 3em !important; /* 1px bottom margin seems to fix occasional Firefox scrolling */
}

.dp-highlighter ol li{
	border-left:3px solid #77563B;
	height:1.3em;
	line-height:1.3em;
}

.dp-highlighter:hover ol li{
	background-color:#999;
}


.dp-highlighter ol li:hover{
	background-color:white;
}


